<head>
    <title>Trojan Hex</title>
    <link rel="stylesheet" href="../static/styles/contact.css">
</head>
<body>
<div class="navbar">
	<div class="image-container">
        <img src="../static/images/Comp1.png" alt="Your Image">
    </div>
    <div class="navbar">
        <div class="logo">
            <h1>Phish<span class="redtext">X</span>secure</h1>   
        </div>
            <div class="menu" >
            <a href="/index">Home</a>
            <a href="/check">Check</a>
            <a href="/contact">Contact Us</a></pre>
        </div>
    <div class="content">
        <div class="leftpart">
            <center>
                <h1>Send us a message</h1>
                <form action="{{ url_for('remark') }}" method="post">
                    <input type="text" placeholder="Name" name="cname"><br>
                    <input type="text" placeholder="Email" name="cmail"><br>
                    <input type="text" placeholder="Your message" name="cmsg"><br>
                    <button value="submit" href="remarks.html">Submit</button>
                </form>
            </center>
        </div>
        <div class="rightpart">
                <div class="details">
                    <h1>Our Details</h1>
                    <div class="detbtn">
                        <h2>Location</h2>
                        <p>S.R.K.R. Engineering College (AUTONOMOUS), SRKR MARG, China amiram, Bhimavaram - 534204, AP, INDIA</p>
                    </div>
                    <div class="detbtn">
                        <h2>Phone</h2>
                        <p>08816-223332<br>9848823332, 9848381818</p>
                    </div>
                    <div class="detbtn">
                        <h2>Email</h2>
                        <p>principal@srkrec.ac.in</p>
                    </div>
                </div>
        </div>
    </div>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Info</title>
    <link rel="stylesheet" href="styles.css">
</head>


<body>


    
  

</body>
</html>
