<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrojanHex</title>
    <link rel="stylesheet" href="../static/styles/email.css">
</head>
<body>
    <div class="navbar">
       <div class="image-container">
        <img src="../static/images/Comp1.png" alt="Your Image">
    </div>
        <div class="logo">
            <h1>Phish<span class="redtext">X</span>secure</h1>   
        </div>
            <div class="menu" >
            <a href="/index">Home</a>
            <a href="/check">Check</a>
            <a href="/contact">Contact Us</a></pre>
        </div>
</div>
<div class="content">
   <center>
    <form method="POST" action="/predict-email">
	<div class="textarea">
        <textarea name="mail_text" rows="4" cols="50" placeholder="Enter an email text"></textarea><br>
        <input type="submit" value="Predict">
<div>
    </form>
    </centre>
</div>
</body>
</html>
