
<head>
    <title>Trojan Hex</title>
    <link rel="stylesheet" href="../static/styles/remark.css">
</head>
<body>
    <div class="navbar">
<div class="image-container">
        <img src="../static/images/Comp1.png" alt="Your Image">
    </div>
        <div class="logo">
            <h1>Phish<span class="redtext">X</span>secure</h1>      
        </div>
        <div class="menu">
            <a href="/index">Home</a>
            <a href="/check">Check</a>
            <a href="/contact">Contact Us</a>
        </div>
    </div>
</body>
    <div class="content">
        <center>
        <h1>Your message is <span class="redtext">Sent</span> to us.<br> We will look into your message.<br> Thank you.</h1>
        <a href="/index">Back</a>
        </center>
    </div>
</body>