<head>
    <title>SafeSearch</title>
    <link rel="stylesheet" href="../static/styles/safe.css">
</head>
<body>
    <div class="navbar">
	<div class="image-container">
        <img src="../static/images/Comp1.png" alt="Your Image">
    </div>
        <div class="logo">
            <h1>Phish<span class="redtext">X</span>secure</h1>      
        </div>
        <div class="menu">
            <a href="/index">Home</a>
            <a href="/check">Check</a>
            <a href="/contact">Contact Us</a>
        </div>
    </div>
    <div class="content">
        <center>
        <h1>The given website is <span class="greentext">{{percentage}} Safe</span></h1>
        <a href="/check">Back</a>
        
        </center>
    </div>
</body>