font-weight: 400;{
src: url(../fonts/kanit/kanit-v4-latin-italic.eot);
src: local("Kanit Italic"), local("Kanit-Italic"),
url(../fonts/kanit/kanit-v4-latin-italic.eot?#iefix)
format("embedded-opentype"),
    url(../fonts/kanit/kanit-v4-latin-italic.woff2) format("woff2"),
    url(../fonts/kanit/kanit-v4-latin-italic.woff) format("woff"),
    url(../fonts/kanit/kanit-v4-latin-italic.ttf) format("truetype"),
url(../fonts/kanit/kanit-v4-latin-italic.svg#Kanit) format("svg");
}

*{
    margin: 0;
    padding: 0;
	font-family: 'Kanit', sans-serif;
}
.image-container {
    position: absolute; /* Positioning method */
    top: -40; /* Align to the top of the viewport */
    left: 0; /* Align to the right of the viewport */
    margin: 30px; /* Optional margin for spacing */
}

/* Style the image within the container */
.image-container img {
    max-width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

body{
    background-image:url('image_bg.svg') ;
    background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo h1{
    color: black;
    font-weight: bold;
    margin: 20px 0px 10px 120px;
}
.menu{
    margin-top: 10px;
    margin-right: 100px;
}
.menu a{
    text-decoration: none;
    color: #007BFF ;
    font-size: 20px;
    margin:10px 20px;
}
.menu a:hover{
    color: Red;
}
textarea {
    padding: 10px;
    width: 100%; /* Use 100% width to fill the container */
    max-width: 500px; /* Set a maximum width to avoid stretching on larger screens */
    height: auto; /* Allow the height to adjust based on content */
    color: black; /* Text color */
    background: rgba(0, 0, 0, 0.1); /* Light gray background with some transparency */
    border: 2px solid #007BFF; /* Blue border */
    border-radius: 10px; /* Rounded corners */
    margin-bottom: 10px; /* Add space below the textarea */
}

/* Placeholder text color */
textarea::placeholder {
    color: gray;
}
.content{
    margin: 16%;
    position: relative;
}
.content h1{
    font-size: 60px;
    color: #007BFF;
    margin-bottom: 10px;
}

.content form{
    margin-top: 30px;
}
.content form input{
    padding: 10px 20px;
    width: 300px;
    color: white;
    background: rgba(0,0,0,0.25);
    border: 2px solid crimson;
    border-radius: 10px;
    margin-right: 40px;
}
.content form input::placeholder{
    color: black;
}
.content form button{
    text-decoration: none;
    background: none;
    background: rgba(0,0,0,0.25);
    color: black;
    padding: 10px 20px;
    border: 2px solid crimson;
    border-radius: 10px;
}
.content form button.hover{
    background-color: crimson;
}
.redtext{
    color: crimson;
}